<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <navbar th:replace="fragmentos :: navbar"></navbar>

    <div th:if="${exito != null}" th:text="${exito}"></div>
    <div th:if="${error != null}" th:text="${error}"></div>

    <form th:action="@{/nombredeclase/editaromodificar/__${nombredeclase.id}__}" method="POST">

        <div>
            <label>Nombre</label> <input th:value="${nombredeclase.nombre}" type="text" name="nombre" placeholder="nombre">
        </div>

        <div>
            <label>Url</label> <input th:value="${nombredeclase.url}" type="text" name="url" placeholder="url">
        </div>

        <div>
            <label>Descripcion</label> <input th:value="${nombredeclase.descripcion}" type="text" name="descripcion" placeholder="descripcion">
        </div>

        <div>
            <label>Cupo</label> <input th:value="${nombredeclase.cupo}" type="number" name="cupo" placeholder="cupo">
        </div>

        <button type="submit">Submit</button>
    </form>

    <footer th:replace="fragmentos :: footer"></footer>

</body>
</html>