<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        
    <navbar th:replace="fragmentos :: navbar"></navbar>
    
    <div th:if="${exito != null}" th:text="${exito}"></div>
    <div th:if="${error != null}" th:text="${error}"></div>

    <div>
        <form>
            <div>
                <input type="text" name="nombre" th:value="${nombre}" placeholder="Nombre" required>
            </div>

            <div>
                <input type="text" name="apellido" th:value="${apellido}" placeholder="Apellido" required>
            </div>

            <div>
                <input type="number" name="dni" th:value="${dni}" placeholder="Documento" required>
            </div>

            <div>
                <input name="fechaNacimiento" th:value="${fechaNacimiento}" placeholder="Fecha de Nacimiento" required type="date">
            </div>                          

            <div>
                <input type="email" name="correo" th:value="${correo}" placeholder="Correo" required>
            </div>

            <div>
                <input type="password" name="clave" th:value="${clave}" placeholder="Contraseña" required>
            </div>

            <div>
                <button type="submit">Registrarse</button>
            </div>
        </form>
    </div>

    <footer th:replace="fragmentos :: footer"></footer>
    
</body>

</html>
